.navbar {
  color: #fff;

  .navLinks {
    @media (max-width: 768px) {
      background-color: #f97316;
    }
    a {
      text-decoration: none;
      color: #fff;
      font-weight: 500;

      &:hover {
        color: #f97316;
      }
    }
  }

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #f97316;
  }
}
