.services {
  @media (max-width: 575.98px) {
    padding-inline: 2rem;
  }
  .service_card {
    width: calc(100% / 3 - 2rem);
    @media (max-width: 575.98px) {
      width: 100%;
    }
    transition: transform 0.2s ease-in-out;
    background-color: #1b1b1b;
    border-radius: 16px;
    .icon {
      color: #f97316;
    }
    .title {
      color: #f97316;
    }
    .desc {
      color: #5e5e5e;
      font-weight: 800;
    }
    &:hover {
      transform: translateY(-5px);
    }
  }
}
